<!DOCTYPE html>
<html>
<head>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js">
</script>
</head>
<body>

<canvas id="myChart" width="900" height="400"></canvas>
<script type="text/javascript">
var quizName = {{ room_name_json }};
var userName = {{ user_name_json }};
var acount = window.answers[0];
var bcount = window.answers[1];
var ccount = window.answers[2];
var dcount = window.answers[3];
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ["A", "B" , "C" , "D"],
    datasets: [
      { label: '# of students',
        data: [acount, bcount, ccount, dcount],
        backgroundColor :['rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
],

borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
            ],
borderWidth : 1
      }
    ]
  },
  options: {
        legend: {
            display: false
        },
        scales: {
            yAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: "Number of Responses",
                },
                ticks: {
                    beginAtZero:true
                }
            }],
            xAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: "Student Answer",
                }
            }]
        }
    }
});

    </script>

</body>
</html>
