<!-- quiz/templates/quiz/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Activation Code</title>
</head>
<body>
    Enter your activation code<br/>
    <input id="activation-code-input" type="text" size="100"/><br/>
    <input id="activation-code-submit" type="button" value="Enter"/>
    <input type="checkbox" id="teacher" value="Teacher"> I am a teacher<br>
    <script>
        document.querySelector('#activation-code-input').focus();
        document.querySelector('#activation-code-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#activation-code-submit').click();
            }
        };

        document.querySelector('#activation-code-submit').onclick = function(e) {
            var quizName = document.querySelector('#activation-code-input').value;
            var teacher = document.getElementById('teacher').checked;
            if (teacher) {
                window.location.pathname = '/teachers/' + quizName + "/";
                console.log("they're a teacher");
            }

            else {
                window.location.pathname = '/quiz/' + quizName + '/';
            }
        };
    </script>
</body>
</html>