<!-- quiz/templates/quiz/teaacher.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Teacher View</title>
</head>
<script>
    var quizName = {{ room_name_json }};
    var userName = {{ user_name_json }};
</script>
<body>
    <textarea id="question" cols="100" rows="10"></textarea><br/>
    <input id="next_question" type="button" value="Release Next Question"/>
    <input id="display_bargraph" type="button" value="Display Bar Graph"/>
</body>
<script>
    var quizSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/quiz/' + quizName + "-" + userName + '/');

    quizSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        if ('question' in data) {
            var question = data['question'];
            document.querySelector('#question').value += ('\n' + question + '\n');
        }
        if ('message' in data) {
            var message = data['message'];
            document.querySelector('#question').value += (message + '\n');
        }
        if ('name' in data) {
            var name = data['name'];
            document.querySelector('#question').value += (name + " has connected" + '\n');
        }
        if ('answers' in data){
            var answers = data['answers'];
            var bargraph_window= window.open('bargraph');
            bargraph_window.answers = answers;
        }
    };

    quizSocket.onclose = function(e) {
        console.error('quiz socket closed unexpectedly');
    };

    document.querySelector('#next_question').onclick = function(e) {
        var next_question = "next_question";
        quizSocket.send(JSON.stringify({
            'next_question': next_question
        }));
    };

    document.querySelector('#display_bargraph').onclick = function(e) {
        var display_bargraph = "display_bargraph";
        quizSocket.send(JSON.stringify({
            'display_bargraph': display_bargraph
        }));
    };
</script>

</html>
